.editorPage{
    min-height: 100vh;
    background-color: #F2EFE5;
}


.editorTitle{
    max-width: 736px;
    width: 100%;
    padding:0px 8px;
    margin: 0 auto;
    resize: none;
    margin-bottom: 18px;
}

.editorTitle>textarea{
    width: 100%;
    resize: none;
    border: none;
    outline: none;
    font-family: "Pretendard";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -0.01em;
    text-align: left;
    color:#323232;
    background-color: transparent;
}

.editorSummary{
    max-width: 736px;
    width: 100%;
    padding:0px 8px;
    margin: 0 auto;
    resize: none;
    margin-bottom: 39px;
}

.editorSummary>textarea{
    width: 100%;
    resize: none;
    border: none;
    outline: none;
    font-family: "Pretendard";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.02em;
    text-align: left;
    color:#787878;
    background-color: transparent;
    
}

.ce-block__content{
    max-width: 736px;
    padding: 0px 8px;
    width: 100%;
}

.ce-toolbar__plus{
    left: -74px;
}

.ce-toolbox{
    left: -40px;
}

.editorText{
    color: #323232;
    font-family: "Pretendard";
}

.ce-toolbar__actions{
    right: -70px;
}
textarea::placeholder{
    color:#C4C4C4;
}

.editorBtn{
    font-family: Pretendard;
    width: 104px;
    height: 40px;
    display: flex;
    justify-content: center;
    border-radius: 40px;
    margin-left: 16px;
    align-items: center;
    cursor: pointer;
}


.editorBtn--empty{    
    color: #787878;
    background-color: transparent;
    border: 1px solid #c4c4c4;
}


.editorBtn--black{
    color: #fff;
    background-color: #292f33;
}

.autoSaveText--on{
    opacity: 0;
    animation: autoSaveText 2s;
}

@keyframes autoSaveText{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}