.userProfile{
    display: flex;
    padding-bottom: 48px;
}
.userProfile__img{
    width: 120px;
    height: 120px;
    min-width: 120px;
    border-radius: 50%;
    background-size: cover;
    background-color: #000;
    margin-right: 32px;
}

.userProfile__info{
    width: 100%;
}

.userProfile__info__nickname{
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #000;
}

.userProfile__info__summary{
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #000;
    margin-bottom: 16px;
    overflow: hidden;
    max-height: 96px;
}

.userProfile__btn{
    display: flex;
}

.userProfile__btn--small{
    font-family: Pretendard;
    width: 108px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #f0f0f0;
    border-radius: 40px;
    color: #787878;
    font-size: 14px;
    letter-spacing: -1%;
    cursor: pointer;
    margin-right: 8px;
}

.userLogo{
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #787878;
}

.userArticle{
    width:100%;
    max-width:688px;
    margin-top:24px;
    display: block;
    border-bottom: 1px solid #F0F0F0;
}

.userArticleList{
    width: 100%;
}

.userArticle__thumbnail{
    position: relative;
    z-index: -1;
    display: block;
    width: 100%;
    height: 184px;
    object-fit: cover;
    margin-top: 12px;
    filter:drop-shadow(inset 0px -88px 56px -8px #FFFFFF); 
}

.userArticle__title{
    font-family: Pretendard;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.6;
    letter-spacing: -0.01em;
    text-align: left;
    margin-top: 12px;
    margin-bottom: 12px;
    color: #292f33;
}

.userArticle__summary{
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8;
    letter-spacing: -0.02em;
    text-align: left;
    margin-bottom: 12px;
    color: #787878;
}

.userArticle__date{
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: -0.01em;
    text-align: left;
    color: #292f33;
}

.userArticle__thumbnail_gradient {
    display:inline-block;
    width: 100%;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 10%,rgba(255,255,255,1)90%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,0) 10%,rgba(255,255,255,1)90%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 10%,rgba(255,255,255,1)90%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 10%,rgba(255,255,255,1)90%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  }

  .userProfile__info__list{
      display: flex;
      align-items: center;
      margin-bottom: 8px;
  }

  .subBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 72px;
    height: 32px;
    margin-left: 8px;
    background: #292F33;
    border-radius: 20px;
    font-family: Pretendard;
    font-size: 12px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: -0.01em;
    color:#fff;
    cursor: pointer;
  }

  .subBtn--on{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 72px;
    height: 32px;
    margin-left: 8px;
    background: #292F33;
    border-radius: 20px;
    font-family: Pretendard;
    font-size: 12px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: -0.01em;
    color:#fff;
    cursor: pointer;
  }

  .subBtn--on:hover{
    background-color: #FF6666;
    color: #fff;
  }

  .draftList__title{
      margin-top: 64px;
    font-family: Pretendard;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -0.01em;
    text-align: left;
    width: 100%;
    padding-bottom: 32px;
    border-bottom: 1px solid #f0f0f0;
    color: #292f33;
  }

  .draftList{
      width: 100%;
      max-width: 736px;
      padding:0px 8px;
      margin: 0 auto;
  }

  .draftList__noneList{
    width: 100%;
    text-align: center;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
    color: #292f33;
    margin-top: 64px;
  }

  .draftBtnBox{
      display: flex;
      width: 59px;
      height: 34px;
      border-radius: 4px;
      align-items: center;
      justify-content: center;
      cursor: pointer;
  }

  .draftBtnBox:hover{
    background: #F0F0F0;
  }

  .draftBtn__deleteIcon{
      width: 19px;
      height: 19px;
      margin-right: 1px;
      background-image: url(./img/icon_delete.svg);
  }

  .draftBtn__text{
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.01em;
    text-align: left;
    color:#787878;
  }

  .userArticle_noneText{
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #292f33;
  }

  .followText{
    font-family: Pretendard;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.01em;
    text-align: left;
    margin-top: 24px;
    margin-bottom: 40px;
  }

  .followListBox{
    display: flex;
    padding-bottom: 28px;
    border-bottom: 1px solid #F0F0F0;
    margin-bottom: 24px;
  }

  .followListBox__profileImg{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    min-width: 64px;
    background-color: #000;
    margin-right: 32px;
  }

  .followListBox__textBox{
    width: 100%;
    margin-right: 36px;
  }

  .followListBox__textBox__nickname{
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #000;
    margin-bottom: 12px;
  }

  .followListBox__textBox__intro{
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #292f33;
  }

  .followListBox__subBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 108px;
    min-width: 108px;
    height: 40px;
    background: transparent;
    border-radius: 40px;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.01em;
    text-align: center;
    color: #787878;
    border: 1px solid #C4C4C4;
    cursor: pointer;
  }

  .followListBox__subBtn--on{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 108px;
    min-width: 108px;
    height: 40px;
    background: transparent;
    border-radius: 40px;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.01em;
    text-align: center;
    color: #787878;
    border: 1px solid #C4C4C4;
    cursor: pointer;
  }

  .followListBox__subBtn--on:hover{
    background-color: #FF6666;
    border: 1px solid #FF6666;
    color: #fff;
  }
